body {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Dokdo", cursive;
    background-image: url(https://newsimg.hankookilbo.com/2015/12/11/201512111048695990_1.jpg);
  }
  
  .container {
    border: none;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.814);
  }
  
  
  .border-line {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .button-style {
    height: 80px;
    width: 100px;
    margin-top: 5px;
    border-radius: 50px;
    font-size: 30pt;
    font-weight: bold;
  }

  .button-style2 {
    height: 80px;
    width: 120px;
    margin-top: 5px;
    border-radius: 50px;
    font-size: 30pt;
    font-weight: bold;
  }

  .pre-title {
    font-size: 7vw;
    font-weight: bold;
    color: blue;
  }
  .title {
    font-size: 5vw;
    font-weight: bold;
    color:red;
  }
  .sub-title {
    font-size: 6vw;
    font-weight: bold;
  }
  
  .main-img {
    width: 20vw;
    height: 20vh
  }
  
.red-text {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

  .form-control {
    height: 80px;
    font-size: 3vw;
    margin-right: 20px;
    text-align: center;
  }
  
  @media screen and (max-width: 48rem) {
    .pre-title {
      font-size: 10vw;
    }
    .title {
      font-size: 12vw;
    }
    .sub-title {
      font-size: 11vw;
    }
    .form-control {
      font-size: 8vw;
      max-width: 500px;
      margin-right: 0px;
    }
    .main-img {
      width: 40vw;
    }
    .button-reset {
      font-size: 8vw;
      width: 100px;
      height: 80px;
    }
  }
